Part A: We are Calculating the mse of a neural network with only 1 hidden layer and 50 epochs.

In [9]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']]
target = concrete_data['Strength']
n_cols = predictors.shape[1]

n_cols 8

In [13]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [14]:
def baseline_model():
    model = Sequential()
    model.add(Dense(10,activation='relu',input_shape=(n_cols,)))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [17]:
mse = []
for i in range(50):
    predictors_train, predictors_test, target_train, target_test = train_test_split(predictors, target, test_size=0.3, random_state=10)
    model = baseline_model()
    model.fit(predictors_train, target_train , validation_split=0.2, epochs=50,verbose=0)
    y = model.predict(predictors_test)
    mse.append(mean_squared_error(target_test, y))

In [21]:
print('The mean of mse is {} and  standard deviation of mse is {}'.format(np.mean(mse),np.std(mse)))

The mean of mse is 395.8188447093033 and  standard deviation of mse is 436.71063801627207

Part B: We are Calculating the mean of mse of a neural network with only 1 hidden layer and 50 epochs, but with normalized data

In [22]:
predictors_norm = (predictors - predictors.mean())/predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [25]:
mse_norm = []
for i in range(50):
    predictors_train_norm, predictors_test_norm, target_train_norm, target_test_norm = train_test_split(predictors_norm, target, test_size=0.3, random_state=10)
    model = baseline_model()
    model.fit(predictors_train_norm, target_train_norm , validation_split=0.2, epochs=50,verbose=0)
    y_norm = model.predict(predictors_test_norm)
    mse_norm.append(mean_squared_error(target_test_norm, y_norm))

In [26]:
print('The mean of mse is {} and  standard deviation of mse is {}'.format(np.mean(mse_norm),np.std(mse_norm)))

The mean of mse is 610.7219486747222 and  standard deviation of mse is 136.636553437231

We can observe from Step A, the mean of the mse has increased, however the standard deviation has decreased.

Part C: We are Calculating the mean of  mse of a neural network with only 1 hidden layer but with 100 epochs

In [27]:
mse_norm_100 = []
for i in range(50):
    predictors_train_norm, predictors_test_norm, target_train_norm, target_test_norm = train_test_split(predictors_norm, target, test_size=0.3, random_state=10)
    model = baseline_model()
    model.fit(predictors_train_norm, target_train_norm , validation_split=0.2, epochs=100,verbose=0)
    y_norm = model.predict(predictors_test_norm)
    mse_norm_100.append(mean_squared_error(target_test_norm, y_norm))

In [28]:
print('The mean of mse is {} and  standard deviation of mse is {}'.format(np.mean(mse_norm_100),np.std(mse_norm_100)))

The mean of mse is 183.71312064238762 and  standard deviation of mse is 20.43038849501193

We can observe that the both the mean and the std of the mse , have decreased compared to step b, by increasing the epochs. We can also observe, that the mean of mse is now lower than even step A.

Part D: We are calculating the mean of mse of a neural network with 3 hidden layers

In [29]:
def advanced_model():
    model = Sequential()
    model.add(Dense(10,activation='relu',input_shape=(n_cols,)))
    model.add(Dense(10,activation='relu'))
    model.add(Dense(10,activation='relu'))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [30]:
mse_norm_a = []
for i in range(50):
    predictors_train_norm, predictors_test_norm, target_train_norm, target_test_norm = train_test_split(predictors_norm, target, test_size=0.3, random_state=10)
    model = advanced_model()
    model.fit(predictors_train_norm, target_train_norm , validation_split=0.2, epochs=50,verbose=0)
    y_norm = model.predict(predictors_test_norm)
    mse_norm_a.append(mean_squared_error(target_test_norm, y_norm))

In [31]:
print('The mean of mse is {} and  standard deviation of mse is {}'.format(np.mean(mse_norm_a),np.std(mse_norm_a)))

The mean of mse is 130.4932299617249 and  standard deviation of mse is 7.976442480522093